<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Tutorial Website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="tutorials" class="nav-link">Tutorials</a>
            </li>
            <li class="nav-item">
              <a routerLink="add" class="nav-link">Add</a>
            </li>
          </ul>
          <div class="ms-auto d-flex align-items-center">
            <ng-container *ngIf="isLoggedIn; else loginLink">
              <span class="text-white me-3">{{ username }}</span>
              <button class="btn btn-danger" (click)="logout()">Logout</button>
            </ng-container>
            <ng-template #loginLink>
              <a class="btn btn-primary" routerLink="/login">Login</a>
            </ng-template>
          </div>
        </div>
      </div>
    </nav>
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>